
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h1>Index</h1>
        <p>Hi it's index page</p>
        <p>And here you can see russian winter <a href="/About"><img src="~/images/img3.png" width="100" alt="About us" /></a> </p>
        <img src="/images/img2.jpg"  height="480" />
      
            
        
        
    </div>
