
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h1>ShitzKrieg</h1>
        <p>It was named by meme from Countryballs universe</p>
        <img src="/images/img1.jpg" />
        <asp:img src="~/images/Img1.jpg" runat="server" width="100" height="100" alt="fail image" />
    </div>